<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="mySqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.mysql.driver}"/>
        <property name="url" value="${jdbc.mysql.url}"/>
        <property name="username" value="${jdbc.mysql.username}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <property name="minIdle" value="${jdbc.minIdle}"/>
        <property name="maxIdle" value="${jdbc.maxIdle}"/>
        <!--<property name="maxActive" value="${jdbc.maxActive}"/>-->
        <property name="maxConnLifetimeMillis" value="${jdbc.maxConnLifetimeMillis}"/>
        <!--<property name="maxWait" value="${jdbc.maxWait}"/>-->
        <property name="maxWaitMillis" value="${jdbc.maxWaitMillis}"/>
        <property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}"/>
        <!--<property name="removeAbandoned" value="${jdbc.removeAbandoned}"/>-->
        <property name="removeAbandonedOnMaintenance" value="${jdbc.removeAbandonedOnMaintenance}"/>
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/>
        <property name="testWhileIdle" value="${jdbc.testWhileIdle}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean name="sqLiteDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <property name="dbType" value="${jdbc.sqlite.dbType}"/>
        <property name="url" value="${jdbc.sqlite.url}"/>
        <property name="driverClassName" value="${jdbc.sqlite.driver}"/>
        <property name="username" value="${jdbc.sqlite.username}"/>
        <property name="password" value="${jdbc.sqlite.password}"/>
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <property name="minIdle" value="${jdbc.minIdle}"/>
        <property name="maxWait" value="${jdbc.maxWait}"/>
        <!--<property name="poolPreparedStatements" value="false"></property>
        <property name="maxOpenPreparedStatements" value="20"></property> -->
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
        <property name="removeAbandoned" value="${jdbc.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/>
        <property name="logAbandoned" value="true"/>
        <!-- 配置监控统计拦截的filters,配置log4j可以打印出Parameters -->
        <property name="filters" value="log4j"/>
    </bean>
    <bean id="dynamicDataSource" class="cn.luo.mybatis.DynamicDataSource">
        <property name="defaultTargetDataSource" ref="sqLiteDataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="mySqlDataSource" value-ref="mySqlDataSource"/>
                <entry key="sqliteDataSource" value-ref="sqLiteDataSource"/>
            </map>
        </property>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource"/>
    </bean>

    <!-- mybatis.spring自动映射 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.luo.mybatis.dao"/>
    </bean>

    <!-- 自动扫描，多个包以逗号分隔 -->
    <context:component-scan base-package="cn.luo.mybatis"/>
    <aop:aspectj-autoproxy/>
</beans>